In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [7]:
df = pd.read_csv("D:\hackathon\Datasets\electricity_data.csv")
df.head()

         Date  Total_Consumption
0  2017-12-16                5.7
1  2017-12-17               20.6
2  2017-12-18               12.9
3  2017-12-19               15.5
4  2017-12-20               12.0

In [8]:
df['Date'] = pd.to_datetime(df['Date'])

In [9]:
df['Date'] = pd.to_datetime(df['Date'])

# Add 2 years to the 'Date' column
df['Date'] = df['Date'] + pd.DateOffset(years=2)

# Export the DataFrame to a new CSV file
df.to_csv('adjusted_dates.csv', index=False)

print(df)

           Date  Total_Consumption
0    2019-12-16                5.7
1    2019-12-17               20.6
2    2019-12-18               12.9
3    2019-12-19               15.5
4    2019-12-20               12.0
...         ...                ...
1308 2023-07-26               26.1
1309 2023-07-27               24.3
1310 2023-07-28               23.4
1311 2023-07-29               16.8
1312 2023-07-30               16.8

[1313 rows x 2 columns]

In [10]:
df = pd.read_csv("D:\hackathon\Datasets\electrical_forecast.csv")
df.head()

         Date  Total_Consumption  Predicted_Consumption        MAE
0  2021-05-09               44.1              28.343788  15.756212
1  2021-05-10               48.3              59.778455 -11.478455
2  2021-05-11               37.8              41.435079  -3.635079
3  2021-05-13               41.7              40.993073   0.706927
4  2021-05-14               37.8              40.834960  -3.034960

In [11]:
df['Date'] = pd.to_datetime(df['Date'])

# Add 2 years to the 'Date' column
df['Date'] = df['Date'] + pd.DateOffset(years=2)

# Export the DataFrame to a new CSV file
df.to_csv('adjusted_dates.csv', index=False)

print(df)

          Date  Total_Consumption  Predicted_Consumption        MAE
0   2023-05-09               44.1              28.343788  15.756212
1   2023-05-10               48.3              59.778455 -11.478455
2   2023-05-11               37.8              41.435079  -3.635079
3   2023-05-13               41.7              40.993073   0.706927
4   2023-05-14               37.8              40.834960  -3.034960
..         ...                ...                    ...        ...
137 2023-09-26                NaN              20.260183        NaN
138 2023-09-27                NaN              20.475120        NaN
139 2023-09-28                NaN              12.242143        NaN
140 2023-09-29                NaN              18.179108        NaN
141 2023-09-30                NaN               8.335535        NaN

[142 rows x 4 columns]

In [24]:
df = pd.read_csv("D:\hackathon\Datasets\electrical_appliance_consumption.csv")
df.head()

,month,year,Fridge,AC,Kitchen Appliances,Washing Machine,Other Appliances,Total_Consumption
0,Jan,2017,18.5,0.0,41.4,21.0,19.2,3455.9
1,Jan,2018,19.1,0.0,43.0,17.7,20.2,3057.1
2,Jan,2019,18.5,0.0,40.4,23.1,18.0,3187.4
3,Jan,2021,20.1,0.0,43.8,18.5,17.6,2625.5
4,Feb,2017,18.5,0.0,41.4,14.2,26.0,2520.6

In [25]:
# Convert 'year' column to datetime format
df['year'] = pd.to_datetime(df['year'], format='%Y')

# Add 2 years to the 'year' column
df['year'] = df['year'] + pd.DateOffset(years=2)

# Convert 'year' column back to integer format
df['year'] = df['year'].dt.year.astype(int)

# Export the DataFrame to a new CSV file with the 'year' column in 'YYYY' format
df.to_csv('adjusted_years.csv', index=False)

print(df)

   month  year  Fridge    AC  Kitchen Appliances  Washing Machine  \
0    Jan  2019    18.5   0.0                41.4             21.0
1    Jan  2020    19.1   0.0                43.0             17.7
2    Jan  2021    18.5   0.0                40.4             23.1
3    Jan  2023    20.1   0.0                43.8             18.5
4    Feb  2019    18.5   0.0                41.4             14.2
5    Feb  2020    19.2   0.0                42.7             15.7
6    Feb  2021    20.1   0.0                44.2             15.4
7    Feb  2023    19.6   0.0                42.6             17.6
8    Mar  2019    13.7  19.1                30.8             14.5
9    Mar  2020    14.1  19.7                31.3             17.1
10   Mar  2021    14.8  23.1                32.6             16.8
11   Mar  2023    13.9  24.4                30.8             11.8
12   Apr  2019    11.1  34.5                25.6             13.2
13   Apr  2020    11.8  33.2                26.3              9.9
14   Apr  2021    12.0  34.7                26.7             10.6
15   Apr  2023    12.3  38.3                27.1             10.3
16   May  2019    10.8  30.0                24.9             16.6
17   May  2020    10.7  34.8                24.5             11.1
18   May  2021    12.0  38.3                27.0             12.0
19   May  2023    12.3  36.3                27.4             13.9
20   Jun  2019     9.7  37.6                22.5             13.6
21   Jun  2020    10.2  35.2                23.5             15.4
22   Jun  2021    11.6  44.1                26.1              9.0
23   Jun  2023    10.7  39.8                24.3             13.5
24   Jul  2019    11.6  24.5                27.3             14.9
25   Jul  2020    13.3  29.1                30.6             15.3
26   Jul  2021    11.8  34.9                27.1              9.9
27   Jul  2023    12.8  33.6                29.3              8.9
28   Aug  2019    16.1   2.2                37.1             19.1
29   Aug  2020    16.5   3.3                38.1             15.5
30   Aug  2021    16.6   3.1                38.3             24.6
31   Sep  2019    15.7   1.8                35.9             18.0
32   Sep  2020    18.4   2.1                41.5             21.0
33   Sep  2021    18.6   2.6                41.7             18.8
34   Oct  2019    17.3   1.6                38.9             16.4
35   Oct  2020    19.2   1.9                42.8             17.7
36   Oct  2021    18.1   2.0                40.0             18.9
37   Nov  2019    18.7   0.0                41.4             17.1
38   Nov  2020    20.7   0.0                45.9             18.2
39   Nov  2021    17.3   0.0                38.1             20.3
40   Dec  2018    19.8   0.0                44.1             13.0
41   Dec  2019    18.8   0.0                41.4             16.7
42   Dec  2020    19.5   0.0                42.8             20.7
43   Dec  2021    19.7   0.0                42.6             21.8

    Other Appliances  Total_Consumption
0               19.2             3455.9
1               20.2             3057.1
2               18.0             3187.4
3               17.6             2625.5
4               26.0             2520.6
5               22.4             2227.2
6               20.3             2124.7
7               20.2             2298.6
8               21.9             4024.3
9               17.8             3600.6
10              12.7             3382.3
11              19.1             3454.2
12              15.5             3472.6
13              18.9             3854.4
14              16.1             3958.6
15              12.0             3528.3
16              17.7             4404.3
17              18.8             4531.9
18              10.7             3703.3
19              10.2             3787.3
20              16.6             3990.5
21              15.7             4544.6
22               9.2             3102.0
23              11.6             3812.7
24              21.7             3301.7
25              11.7             2945.9
26              16.3             2826.6
27              15.4             2580.1
28              25.5             2510.6
29              26.7             1644.3
30              17.3             2441.1
31              28.6             2830.8
32              16.9             2487.4
33              18.3             2412.2
34              25.8             2814.1
35              18.4             2541.0
36              21.1             2920.2
37              22.8             3045.6
38              15.2             2742.1
39              24.3             3194.5
40              23.1             2109.5
41              23.1             3382.1
42              17.0             2805.7
43              15.9             2836.8

In [26]:
df = pd.read_csv("D:\hackathon\Datasets\electricity_appliance_wise_data.csv")
df.head()

,Date,Fridge,AC,Voltage,Kitchen Appliances,Other Appliances,Sub_metering_3,month,year,Total_Consumption,day,Washing Machine,kap_zscore,fridge_zscore,ac_zscore,oap_zscore,wm_zscore
0,2021-01-01,1224.252,0.0,349294.64,3869.148,327.0,3558.0,1,2020,7.7,1,2304.0,NaN,NaN,NaN,NaN,NaN
1,2021-01-02,1693.778,0.0,350829.71,5301.422,367.0,14623.0,1,2020,8.5,2,1111.0,NaN,NaN,NaN,NaN,NaN
2,2021-01-03,1298.728,0.0,348224.80,4112.472,471.0,7115.0,1,2020,7.7,3,1785.0,NaN,NaN,NaN,NaN,NaN
3,2021-01-04,1687.440,0.0,348125.99,5338.360,517.0,14393.0,1,2020,9.3,4,1780.0,NaN,NaN,NaN,NaN,0.095548
4,2021-01-05,1320.158,0.0,346531.92,4338.842,4885.0,6751.0,1,2020,12.5,5,1984.0,NaN,NaN,NaN,NaN,1.343633

In [27]:
df['Date'] = pd.to_datetime(df['Date'])

# Add 2 years to the 'Date' column
df['Date'] = df['Date'] + pd.DateOffset(years=2)

# Export the DataFrame to a new CSV file
df.to_csv('adjusted_dates.csv', index=False)

print(df)

          Date    Fridge       AC    Voltage  Kitchen Appliances  \
0   2023-01-01  1224.252     0.00  349294.64            3869.148
1   2023-01-02  1693.778     0.00  350829.71            5301.422
2   2023-01-03  1298.728     0.00  348224.80            4112.472
3   2023-01-04  1687.440     0.00  348125.99            5338.360
4   2023-01-05  1320.158     0.00  346531.92            4338.842
..         ...       ...      ...        ...                 ...
198 2023-07-26   884.150  2667.90  346950.19            2943.850
199 2023-07-27   952.360  2620.95  345067.34            3118.440
200 2023-07-28   862.654  2742.99  346041.01            2857.546
201 2023-07-29   549.104  2658.99  346153.73            1884.096
202 2023-07-30   551.260  2592.81  345670.68            1889.740

     Other Appliances  Sub_metering_3  month  year  Total_Consumption  day  \
0              327.00          3558.0      1  2020                7.7    1
1              367.00         14623.0      1  2020                8.5    2
2              471.00          7115.0      1  2020                7.7    3
3              517.00         14393.0      1  2020                9.3    4
4             4885.00          6751.0      1  2020               12.5    5
..                ...             ...    ...   ...                ...  ...
198           2204.10          4147.0      7  2020               26.1   26
199            501.25          4042.0      7  2020               24.3   27
200            535.81          7232.0      7  2020               23.4   28
201            507.81          4158.0      7  2020               16.8   29
202            566.19          4087.0      7  2020               16.8   30

     Washing Machine  kap_zscore  fridge_zscore  ac_zscore  oap_zscore  \
0             2304.0         NaN            NaN        NaN         NaN
1             1111.0         NaN            NaN        NaN         NaN
2             1785.0         NaN            NaN        NaN         NaN
3             1780.0         NaN            NaN        NaN         NaN
4             1984.0         NaN            NaN        NaN         NaN
..               ...         ...            ...        ...         ...
198              0.0   -1.029105      -1.004905  -0.669954    0.673846
199            907.0   -0.826754      -0.771441  -0.648946   -0.776304
200            801.0   -1.058897      -1.027518  -0.525034   -0.722109
201              0.0   -1.900749      -1.880576  -0.536855   -0.734656
202              0.0   -1.728516      -1.710297  -0.543453   -0.676518

     wm_zscore
0          NaN
1          NaN
2          NaN
3     0.095548
4     1.343633
..         ...
198  -0.707107
199        inf
200   1.166297
201  -1.406113
202  -1.406113

[203 rows x 17 columns]